

* {
    margin: 0%;
}

body {
    font-family: 'Open Sans', sans-serif;    
}

a {
    text-decoration: none;
    color: #141f45;
}

nav {
    display: flex;
    margin: 30px 0;
    position: sticky;
    top: 0;
    background-color: white;
}

.ul-nav {
    display: flex;
    list-style: none;
    margin: 25px 0 0 600px;
    color: #141f45;
}

.ul-nav li {
    padding: 0 15px;
    list-style: none;
}

.logo {
    margin: 25px 25px;
}

section {
    background-color: #F5F5F5;
}

h1 {
    padding: 90px 0 20px 80px;
    font-size: 35px;
    color: #141f45;
}

hr {
    margin: 5px 80px;
}

p {
    padding: 15px 80px;
    color: gray;
}

.img01 {
    padding: 50px 0 5px 80px;
    height: 780;
    width: 1000;
}

.img02 {
    padding: 5px 80px;
    height: 780;
    width: 1000;
}

.img03 {
    padding: 5px 0 200px 80px;
    height: 780;
    width: 1000;
}

footer {
    background-color: #FFD700;
    display: flex;
    padding: 30px 50px;
    color: #141f45;
}

.footer-left {
    padding: 10px 25px;
}

.footer-center {
    padding: 10px 25px;
}

.footer-right {
    padding: 10px 25px;
}

ul li {
    list-style: none;
}

@media (max-width: 1024px) {
    .ul-nav {
    margin: 25px 0 0 300px;
    }
    .img01 {
    padding: 50px 0 5px 80px;
    height: 710px;
    width: 900px;
    }
    .img02 {
    height: 710px;
    width: 900px;
    }
    .img03 {
    padding: 5px 0 150px 80px;
    height: 710px;
    width: 900px;
    }
    .logo {
    margin: 25px 11px;
    }
}

@media (max-width: 768px) {
    .ul-nav {
    margin: 25px 0 0 100px;
    }
    .img01 {
    padding: 50px 0 5px 45px;
    height: 550px;
    width: 670px;
    }
    .img02 {
    padding: 5px 45px;
    height: 550px;
    width: 670px;
    }
    .img03 {
    padding: 5px 0 85px 45px;
    height: 550px;
    width: 670px;
    }
    footer {
    padding: 30px 16px;
    }
    .footer-left {
    padding: 10px 0px;
    }
}

@media (max-width: 414px) {
    .logo {
    margin: 25px 0 0 35px;
    }
    .ul-nav {
    display: block;
    margin: 25px 0 0 50px;
    }
    .img01 {
    padding: 35px 0 5px 10px;
    height: 300px;
    width: 395px;
    }
    .img02 {
    padding: 5px 10px;
    height: 300px;
    width: 395px;
    }
    .img03 {
    padding: 5px 0px 50px 10px;
    height: 300px;
    width: 395px;
    }
    footer {
    display: block;
    }
    .footer-center {
    padding: 10px 0px;
    }
    .footer-right {
    padding: 10px 40px;
    }
}